#header
  .lefty.menu-bits
    a.header-entry(href='/#{game_id}/') Home
  .lefty.menu-bits
    a.header-entry(href='/#{game_id}/info') Get Target Information
  .lefty.menu-bits
    a.header-entry(href='/#{game_id}/report') Report a Kill
  .lefty.menu-bits
    a.header-entry(href='/#{game_id}/suicide') Suicide
  .lefty.menu-bits
    a.header-entry(href='/#{game_id}/log') Kill Log
  .righty.menu-bits
    p#status the game is: on
  .righty#menu-hamburger
    p#toggle-button ☰
