ul#nav-ul
  li.nav-li
    a.nav-entry(href='/#{game_id}/') Home
  li.nav-li
    a.nav-entry(href='/#{game_id}/info') Get Target Information
  li.nav-li
    a.nav-entry(href='/#{game_id}/report') Report a Kill
  li.nav-li
    a.nav-entry(href='/#{game_id}/suicide') Suicide
  if (kill_log !== 'false')
    li.nav-li
      a.nav-entry(href='/#{game_id}/log') Kill Log
  li.nav-li
    p#nav-status.nav-status the game is: on
  if (live_player_count !== 'false')
    li.nav-li
      p#nav-player-count.nav-status= live_player_count + ' players are alive' 

