ul#nav-ul
  li.nav-li
    a.nav-entry(href='/#{game_id}/') Home
  li.nav-li
    a.nav-entry(href='/#{game_id}/info') Get Target Information
  li.nav-li
    a.nav-entry(href='/#{game_id}/report') Report a Kill
  li.nav-li
    a.nav-entry(href='/#{game_id}/suicide') Suicide
  li.nav-li
    a.nav-entry(href='/#{game_id}/log') Kill Log
  li.nav-li
    p#nav-status the game is: on

